{%- comment -%}
  Renders a product card

  Accepts:
  - card_product: {Object} Product Liquid object (required)
  - section_id: {String} The ID of the section that contains this card. (required)
  - sizes: {String} a list sizes of image.
  - class: {String} a list class.
  - image_ratio: {String} Size of the product image card. Values are "square" and "portrait". Default is "square" (optional)
  - show_vendor: {Boolean} Show the product vendor. Default: false
  - show_rating: {Boolean} Show the product rating. Default: false
  - color_list: {Array}
  - size_list: {Array}

  Usage:
  {%- render 'card-product', card_product: product, show_vendor: section.settings.show_vendor -%}
{%- endcomment -%}

{%- liquid
  if settings.color_maximum == 0
    assign color_maximum = 2
  else
    assign color_maximum = settings.color_maximum
  endif
-%}
{%- liquid
  assign show_vendor = block.settings.show_vendor
  assign image_ratio = block.settings.image_ratio
  if closest.product
    assign card_product = closest.product
  else
    assign card_product = block.settings.product
  endif
  unless product_url
    assign product_url = card_product.url
  endunless
  assign color_count = 0
  assign size_count = 0
  
  assign color_list = 'products.theme_settings.color' | t | downcase | strip | replace: ' ,', ',' | replace: ', ', ',' | split: ',' | uniq
  assign size_list = 'products.theme_settings.size' | t | downcase | strip | replace: ' ,', ',' | replace: ', ', ',' | split: ',' | uniq

  assign index = 0
  assign first_add = true
  
  if card_product.has_only_default_variant == false and settings.color_mode != 'hide' or settings.size_mode != 'hide'
     assign available_variants = card_product.variants | where: "available"
     for option in card_product.options_with_values
        assign name_downcase = option.name | downcase
        if settings.color_mode != 'hide' and color_list contains name_downcase and color_count == 0
          assign color_option_index = 'option' | append: forloop.index
          assign color_variants = option.values
          assign color_variants_avai = available_variants | map: color_option_index | uniq
          if settings.color_type == 'all'
            assign color_count = color_variants.size
          else
            assign color_count = color_variants_avai.size
          endif
        elsif settings.size_mode != 'hide' and size_list contains name_downcase and size_count == 0
          assign size_option_index = 'option' | append: forloop.index
          assign size_variants_avai = available_variants | map: size_option_index | uniq
          assign size_variants = option.values
          if settings.size_type == 'all'
            assign size_count = size_variants.size
          else
            if card_product.options_with_values.size == 1
              assign size_variants = size_variants_avai
            endif
            assign size_count = size_variants_avai.size
          endif
        endif
     endfor
  endif
  capture btn_wishlist_code
    if settings.wishlist_mode != '0'
      render 'btn-wishlist', class: 'hdt-card-product__btn-wishlist hdt-pr_btn', placement: 'right'
    endif
  endcapture
  assign section_id = section.id
-%}
{%- capture product_media -%}
  <div class="hdt-card-product__media hdt-oh{% if size_count > 0 and settings.size_position == '1' %} hdt-has-size-list{% endif %} {% if card_product.metafields.theme.countdown.value != blank %} hdt-has-countdown{% endif %}">
    {%- render 'card-product-media', card_product: card_product, product_url: product_url, sizes: sizes, image_ratio: image_ratio -%}
    <div class="hdt-card-product__widget">
      {%- render 'badges', product: card_product, use_variant: false -%}
      <div class="hdt-product-btns hdt-pr-btns-group2 hdt-absolute hdt-flex hdt-flex-col">
        {%- liquid
          echo btn_wishlist_code | replace_first: '19041994', card_product.id | replace_first: 'handle_nt_94', card_product.handle
          if settings.compare_mode != "0"
            render 'btn-compare', product_id: card_product.id, product_handle: card_product.handle, class: 'hdt-pr_btn hdt-card-product__btn-compare', placement: 'right', tooltip_inner: tooltip_inner
          endif -%}
      </div>
      {%- if card_product.metafields.theme.countdown.value != blank and block.settings.show_countdown %}{%- render 'countdown' with card_product.metafields.theme.countdown.value, class: "hdt-pr-countdown hdt-text-base hdt-font-semibold" -%}{%- endif -%}
      <div class="hdt-product-btns hdt-pr-btns-group1 hdt-absolute hdt-flex hdt-flex-col hdt-justify-center hdt-align-center">
        {%- if settings.show_quick_view %}{% render 'btn-quick-view', class: 'hdt-pr_btn', product: card_product, section_id: section_id, disable_sr_only: true, attr: attr, placement: 'left', tooltip_auto: 'will-hidden-txt', tooltip_inner: tooltip_inner %}{% endif -%}
        {%- if settings.show_ultra_btn %}{% render 'btn-ultra', class: 'hdt-pr_btn', product: card_product, product_url: product_url, section_id: section_id, disable_sr_only: true, show_qty: settings.show_qty, attr: attr, placement: 'left', tooltip_auto: 'will-hidden-txt', tooltip_inner: tooltip_inner %}{% endif -%}
      </div>
      {%- liquid
        if settings.size_position == '1' 
          render 'size-list', product: card_product, product_url: product_url, class: ' hdt-size-list hdt-pe-none'
        endif
      -%}
    </div>
    {% render 'scrolling_badge', product: card_product %}
  </div>
{%- endcapture -%}
  
{%- capture product_info -%}
  <div class="hdt-card-product__info hdt-card-align-{{ settings.pr_card_alignment }}">
    {%- if settings.show_rating %}{% render 'hdt-pr-card-rating', product: card_product %}{% endif -%}
    {%- liquid
    if card_product.vendor.size > 0 and show_vendor
      render 'vendor' with card_product.vendor, class: 'hdt-inline-block hdt-text-base hdt-font-normal'
    endif -%}
    <h3><a data-pr-url href="{{ product_url }}" class="hdt-card-product__title hdt-text-{{ settings.pr_title_size }} hdt-font-{{ settings.pr_title_weight }} hdt-line-clamp" data-instant>{{ card_product.title | default: "Product title" | escape }}</a></h3>
    {%- liquid
      render 'card-price', section_id: section_id, product: card_product, show_volume_note: true
      render 'color-list', section_id: section_id, product: card_product, product_url: product_url, placement: 'top'
    -%}
  </div>
{%- endcapture -%}

{%- capture product_stock_widget -%}
  {%- if block.settings.show_stock_bar -%}
    {% assign stock_value = card_product.metafields.theme.product_stock %}
    {% if stock_value != blank %}
      {%- liquid
        assign stock_split = stock_value | split: '/'
        assign stock_sold = stock_split | first | plus: 0 | default: 0
        assign stock_total = stock_split | last | plus: 0 | default: 0
        assign stock_available = stock_total | minus: stock_sold | plus: 0

        assign progress_rate = stock_sold | divided_by: stock_total | times: 100 | ceil | default: 0
      -%}
      <div class="hdt-stock-bar">
        <div class="hdt-status-bar">
          <hdt-progress-bar data-hdt-percent="1" class="hdt-progress-bar hdt-sold-bar" role="progressbar" aria-valuemin="0" aria-valuemax="{{ stock_total }}" aria-valuenow="{{ stock_sold }}" data-colors='{"0":"is-intial", "0.5":"is-unreached", "1":"is-success"}' style="--progress-rate: {{ progress_rate }};"></hdt-progress-bar>
        </div>
        <div class="hdt-stock-bar--status hdt-flex hdt-justify-between hdt-align-center hdt-flex-wrap">
          <div class="sold">{% if block.settings.text_sold %}{{ block.settings.text_sold }}{% endif %} {{ stock_sold }}</div>
          <div class="available">{% if block.settings.text_available %}{{ block.settings.text_available }}{% endif %} {{ stock_available }}</div>
        </div>
      </div>
    {%- endif -%}
  {% endif %}
{%- endcapture -%}
<hdt-card-product id="{{ block.id }}" class="hdt-card-product hdt-pr-style1 {{ class_wrapper }} hdt-ratio--{{ block.settings.image_ratio }} hdt-pr-card-{{ block.settings.product_design }} show-stock-bar-{{ block.settings.show_stock_bar }} {% unless block.settings.image_size %} hdt-ratio--contain{% endunless %} {% if card_product.available == false %} hdt-pr-sold_out{% endif %}">
  <style>
    #{{ block.id }} {
      --background-bar-1: {{ block.settings.background_color_1.rgb }};
      --background-bar-2: {{ block.settings.background_color_2.rgb }};
    }
  </style>
  <div class="hdt-card-product__wrapper">
    {%- case block.settings.product_design -%}
      {%- when '1' -%}
        {{ product_info }}
        {{ product_media }}
        {{ product_stock_widget }}
      {%- when '2' -%}
        {{ product_media }}
        {{ product_stock_widget }}
        {{ product_info }}
      {%- when '3' -%}
        {{ product_media }}
        {{ product_info }}
        {{ product_stock_widget }}
    {%- endcase -%}
  </div>
</hdt-card-product>
{% schema %}
  {
    "name": "Product card (deals)",
    "tag": null,
    "settings": [
      {
        "type": "product",
        "id": "product",
        "label": "Product",
      },
      {
        "type": "select",
        "id": "product_design",
        "label": "Product design",
        "options": [
          {
            "value": "1",
            "label": "Design 1"
          },
          {
            "value": "2",
            "label": "Design 2"
          },
          {
            "value": "3",
            "label": "Design 3"
          }
        ],
        "default": "1",
      },
      {
        "type": "checkbox",
        "id": "show_vendor",
        "label": "Show vendor",
        "default": false,
      },
      {
        "type": "checkbox",
        "id": "show_countdown",
        "label": "Show countdown",
        "default": false,
      },
      {
        "type": "select",
        "id": "image_ratio",
        "options": [
          {
            "value": "adapt_image",
            "label": "t:sections.all.images.ratio.adapt_image.label"
          },
          {
            "value": "square",
            "label": "t:sections.all.images.ratio.square.label"
          },
          {
            "value": "portrait",
            "label": "t:sections.all.images.ratio.portrait.label"
          },
          {
            "value": "asos",
            "label": "t:sections.all.images.ratio.asos.label"
          },
          {
            "value": "landscape",
            "label": "t:sections.all.images.ratio.landscape.label"
          },
          {
            "value": "custom-pr",
            "label": "t:sections.all.images.ratio.custom.label"
          }
        ],
        "label": "t:sections.all.images.ratio.label",
        "default": "adapt_image"
      },
      {
        "type": "checkbox",
        "id": "image_size",
        "label": "t:sections.all.images.size.cover",
        "default": true
      },
      {
        "type": "header",
        "content": "Stock bar",
      },
      {
        "type": "checkbox",
        "id": "show_stock_bar",
        "label": "Show stock bar",
        "default": false,
      },
      {
        "type": "text",
        "id": "text_sold",
        "label": "Text sold",
        "default": "Sold:",
        "placeholder": "Sold:",
        "visible_if": "{{ block.settings.show_stock_bar }}"
      },
      {
        "type": "text",
        "id": "text_available",
        "label": "Text available",
        "default": "Available:",
        "placeholder": "Available:",
        "visible_if": "{{ block.settings.show_stock_bar }}"
      },
      {
        "type": "color",
        "id": "background_color_1",
        "label": "Background color 1",
        "default": "#77ccfd",
        "alpha": true,
        "visible_if": "{{ block.settings.show_stock_bar }}"
      },
      {
        "type": "color",
        "id": "background_color_2",
        "label": "Background color 2",
        "default": "#4e97fd",
        "alpha": true,
        "visible_if": "{{ block.settings.show_stock_bar }}"
      },
    ],
    "presets": [
      {
        "name": "Product card (deals)",
        "settings": {
          "product": "{{ closest.product }}"
        }
      }
    ]
  }
{% endschema %}
